doctype html
html
  head
    title="Talk to U (TU)"
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='css/chat.css')
    link(rel='stylesheet', type='text/css', href='css/modal.css')
  body
    .container.main-section
      .row
        .col-md-2.col-sm-3.col-xs-12.left-sidebar
          .input-group.searchbox
            input#srch-term.form-control(placeholder='Search', name='srch-term', type='text')
            .input-group-btn
              button.btn.btn-default.search-icon(type='submit')
                i.glyphicon.glyphicon-search
          .left-chat
            ul#users-list
        .col-md-10.col-sm-9.col-xs-12.right-sidebar
          .row
            .col-md-12.right-header
              .right-header-img
                img(src='/images/businessman.png')
              .right-header-detail
                p#chat-name System Admin
                span#last-active active now
          .row
            .col-md-12.right-header-contentChat
              ul#chat-history
                li
                  .rightside-left-chat
                    span
                      i.fa.fa-circle(aria-hidden='true')
                      |  System Admin
                      small 10:00 AM,Today
                    br
                    br
                    p สวัสดีผม คือ system admin ของ Talk to U (TU)
                li
                  .rightside-left-chat
                    span
                      i.fa.fa-circle(aria-hidden='true')
                      |  System Admin
                      small 10:00 AM,Today
                    br
                    br
                    p 
                      | - ท่านสามารถค้นหาคนที่ต้องการสนทนาได้จากด้านซ้ายของหน้าจอ<br />
                      | - เริ่มการสนทนาโดยการคลิ๊กที่ รูปหรือชื่อของผู้ใช้ จากนั้นกดปุ่ม ร้องขอการสนทนา<br />
                      | - เมื่อฝั่งตรงข้ามตอบกลับการร้องขอ จะแสดงผลการเชื่อมต่อที่ด้าน Chat Panel และสามารถเริ่มการสนทนาได้ทันที
          .row
            .col-md-12.right-chat-textbox
              input.box(type="text", id="chat-message", autocomplete="off", placeholder="Enter message here...")
              a#send-message(href='#')
                i.fa.fa-arrow-right(aria-hidden='true')
          .modal

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src="https://cdn.socket.io/socket.io-1.3.3.js")
    script(src='/js/chat.js')
        
