doctype html
html
    head
        title Realtime Chat using Node.js and Socket.IO
        meta(name='viewport', content="initial-scale=1")
        link(rel='stylesheet', href='css/main.css')
    body
        div.box.box--container
            div.box.box--chat
                ul#chat-history
                form#chat-form(action="")
                    input.box(type="text", id="chat-message", autocomplete="off", placeholder="Enter message here...")
        script(src="https://cdn.socket.io/socket.io-1.3.3.js")
        script(src="https://code.jquery.com/jquery-2.1.3.min.js")
        script.
            // เอา Socket.IO มาใช้งาน
            var socket = io();

            // get element ต่างๆ มารอไว้ก่อน
            var chatForm = $('#chat-form');
            var chatHistory = $("#chat-history");
            var inputMessage = $('#chat-message');
            var username = Math.floor((Math.random() * 100) + 1);

            $(document).ready(function () {
               
                socket.emit('chat', {
                    username: username, 
                    message: 'I\'m connected.'
                });

                inputMessage.focus();

                chatForm.submit(function() {
                    socket.emit('chat', {
                        username: username, 
                        message: inputMessage.val()
                    });

                    $(this)[0].reset();
                    return false;
                });
                
                socket.on('chat', function(data) {
                    if (data.username == username) {
                        chatHistory.append($('<li class="message message--me">').text(data.message));
                    } else {
                        chatHistory.append($('<li class="message">').text(data.username + ': ' + data.message));
                    }
                    chatHistory[0].scrollTop = chatHistory[0].scrollHeight;
                });

                socket.on('users', function(data) {
                    console.log(JSON.stringify(data));
                });
            });